<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel='icon' href="/img/weather.png">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
  <div class="main-content">    
    {{>header}}
    <p>This web application is created by Ayush Ranjan.</p>
    <p>I have used positionstack api for geocoding and weatherstack api for fetching weather information for the searched location.</p>
    <img src="/img/tang.jpg"/>
    </div>
     {{>footer}}
    </div>
  </body>
</html>